/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot');
  src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.grid-block,
.comments li,
.comment-form {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
}
body {
  background: #fff;
  color: #333;
  font-family: 'Sweden Sans', 'alda', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
a, a:hover, a:focus {
  color: #333;
}
.hidden {
  visibility: hidden;
}
.wavy,
.wavy:hover,
.wavy:focus {
  text-decoration: underline;
  text-decoration-style: wavy;
}
.container {
  width: 100%;
  max-width: 1920px;
  padding: 0;
}
.spacer-lg {
  height: 100vh;
  max-height: 1080px;
  width: 0;
}
.spacer-sm {
  height: 58px;
  width: 0;
}
/* The landing's negative z-index was a problem, which setting these all to positive fixed. */
.errors, .notifications, .footer, #main {
    z-index: 10;
}
/* Fixes an issue on the profileEdit page */
.row {
  margin: 5px 0;
  margin-bottom: 10px;
}
#main {
  position: relative;
  min-height: 80vh;
  padding: 0;
  background: #fff;
}
.clear {
  clear: both;
}
.alert {
  float: left !important;
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
.landing {
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  max-height: 1080px;
  width: 100%;
  color: #fff;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.landing__box {
  margin: calc(50vh - 10em) auto;
  max-width: 32em;
}
.landing__info {
  float: right;
  width: 14em;
  height: 15em;
  margin: 0 0 0 3em;
  font-family: 'Sweden Sans', 'alda', sans-serif;
}
.landing__info p {
  margin: 0;
}
.landing__info .landing__now-playing {
  margin-bottom: 8px;
}
.landing__show-name,
.landing__show-host,
.landing__song-title {
  font-size: 35px;
  line-height: 42px;
}
.landing__show-name,
.landing__song-title {
  font-family: 'din-2014', sans-serif;
  text-transform: uppercase;
}
.landing__host-name {
  font-size: 35px;
  line-height: 42px;
  font-style: italic;
}
.landing__play-btn-outer {
  float: left;
  width: 15em;
  height: 15em;
  border: 2px solid;
  border-radius: 50%;
  cursor: pointer;
}
.landing__play-btn {
  position: relative;
  top: 3.75em;
  left: 1em;
  margin: auto;
  width: 5em;
  height: 7em;
  border-left: 2px solid #fff;
}
.landing__play-btn-triangle {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  height: 5em;
  width: 5em;
  position: relative;
  left: -2.5em;
  top: 1em;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.landing__pause-btn-r {
  margin: 0 11px;
  top: 31%;
  position: relative;
  width: 2.5em;
  height: 5.5em;
  border: solid 2px #fff;
  float: left;
}
.landing__pause-btn-l {
  margin: 0 8px 0 4em;
  top: 31%;
  position: relative;
  width: 2.5em;
  height: 5.5em;
  border: solid 2px #fff;
  float: left;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  margin: 0;
  padding: 0 45px;
  border: none;
  border-radius: 0;
}
.navbar-default {
  background-color: #333;
}
.fixed-theme,
.dropdown-menu.fixed-theme > li > a,
.dropdown-menu.fixed-theme > li > a:hover,
.dropdown-menu.fixed-theme > li > a:focus,
.navbar-default .fixed-theme {
  background-color: transparent;
  color: #fff;
  transition: .3s;
}
.nav > li > a {
  margin: 0 15px;
  padding: 13px 0 15px;
}
.navbar-nav {
  margin: 12px 0 12px 10px;
}
.navbar-collapse {
  padding: 0;
  border-top: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
  border-top: 2px solid transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:active {
  border-top: 2px solid #a164e8;
  color: #fff;
  background: none;
  outline: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: none;
  color: #fff;
}
#login-dropdown-list .dropdown-menu {
  background: #333;
  border: 1px solid #444;
}
#login-dropdown-list {
  margin-left: 5px;
}
.nav__play-img {
  max-height: 12px;
  width: auto;
}
.nav__logo {
  max-width: 36px;
}
.nav__search {
  margin: 0 0 0 15px;
}
.nav__search input {
  height: 28px;
  width: 90px;
  margin-top: 10px;
  padding-left: 5px;
  font-size: 14px;
  font-family: 'Glyphicons Halflings';
  border: 1pt solid #ccc;
  -webkit-transition-property: width;
     -moz-transition-property: width;
       -o-transition-property: width;
          transition-property: width;
  -webkit-transition-duration: .15s;
     -moz-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.nav__search input:focus {
  width: 140px;
  -webkit-transition-property: width;
     -moz-transition-property: width;
       -o-transition-property: width;
          transition-property: width;
  -webkit-transition-duration: .15s;
     -moz-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.spinner {
  top: unset;
  margin-top: 50px;
}
.header__submenu-support {
  display: none;
  background: #333;
}
.header__submenu-support button {
  margin: 8px 15px 8px;
  padding: 6px 10px 8px 10px;
  border: 1px solid #fff;
  background-color: transparent;
}
.header__submenu-support a {
  color: #fff;
  padding: 0 !important;
  margin: 0 !important;
}
.header__submenu-support button:hover {
  color: #fff;
}
.header__support-btn {
  font-family: 'din-2014', sans-serif;
  margin: 8px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 50px;
}
.header__support-btn a {
  padding: 0 15px;
  color: #fff;
}
.header__aloha {
  margin-right: -15px;
  padding: 15px 0 15px 15px;
  font-style: italic;
  color: #fff;
}
.info-box {
  float: left;
  max-width: 125px;
  margin: auto;
}
.info-box__link {
  display: inline-block;
  margin: 22px 5px 0 15px;
  font-family: 'din-2014', sans-serif;
  font-size: 21px;
  color: #fff;
}
.info-box__link:focus,
.info-box__link:hover {
  text-decoration: none;
  color: #fff;
}
.party {
  position: relative;
  float: left;
  opacity: 1;
  width: 33.333333333%;
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}
.party__tag {
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.flyer-div {
  float: left;
  width: 50%;
  padding-right: 20px;
}
.flyer-div__front,
.flyer-div__back {
  position: relative;
  margin: 0 20px 20px 0;
  float: left;
}
.comments {
  clear: both;
}
.comments__header {
  margin: 30px 0 10px;
  font-size: 18px;
}
.comments__list {
  list-style-type: none;
  padding-left: 0;
}
.comments__list h4,
.comments__list p {
  margin-bottom: -2px;
}
.comment__author {
  font-size: 11px;
}
.comment__date {
  font-weight: normal;
  font-size: 11px;
  color: #888;
}
.dropdown-menu {
  padding: 0 0 5px;
  color: #fff;
  background: none;
  border: none;
  box-shadow: none;
}
.dropdown-menu > li > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  padding: 3px 15px 8px;
  background-color: #333;
}
.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap;
}
.load-more-button button {
  display: block;
  height: 45px;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  line-height: 45px;
  background: none;
}
.load-more-button button:hover{
  background-color: #ddd;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
}
.jumbotron {
  text-align: center;
}
.jumbotron h2 {
  font-size: 60px;
  font-weight: 100;
}
.index-table img {
  max-width: 80px;
  height: auto;
}
.notifications {
  position: absolute;
  top: 10; left: 10;
  z-index: 11;
}
.notification {
  background: rgba(51,51,51, .95);
  color: #fff;
  position: relative;
  width: 100%;
}
.icon-sync. .title-notification {
  padding-left: 40px;
}
.title-notification {
  display: inline-block !important;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  display: block;
  line-height: 1rem;
  padding: 1rem .75rem;
}
.glyphicon-refresh {
  margin: 0px 5px 0px 0px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/** audio player styles **/
audio {
    display: none;
}
.audio-player, .audio-player div, .audio-player h2, .audio-player a,
.audio-player span, .audio-player > button {
}
.audio-player, .mejs__container, .mejs__mediaelement {
  width: 130px;
  height: 40px;
}
.mejs__controls {
    position: static !important;
}
.mejs__container {
    margin-top: 4px;
}
.mejs__container,
.mejs__controls {
    background: none !important;
}
.mejs__offscreen { display: none !important; }
.mejs__broadcast {
  color: #fff !important;
  font-family: 'alda' !important;
  font-size: 11px !important;
}
/* play/pause control */
.mejs__button {
  margin: 3px 0 0 0 !important;
  cursor: pointer;
}
.mejs__button > button {
  width: 17px !important;
  height: 17px !important;
  background: url('/img/playpause.png') !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-size: cover !important;
}
.mejs__pause > button { background-position: 0 -17px !important; }

/* time scrubber bar */
.mejs__time-rail {
  width: 140px !important;
  top: 7px;
  right: 10px;
  margin: 2px 7px 0 0 !important;
}

.mejs__time-rail a,
.mejs__time-rail span {
  position: absolute;
  display: block;
  width: 75px;
  height: 5px;
  top: 7px;
  left: 20px;
  cursor: pointer;
}
.mejs__time-float-corner {
  display: none !important;
}
.mejs__time-rail .mejs__time-total {
  background: #999;
  width: 79px !important; /* fixes display bug using jQuery 1.8+ */
}
.mejs__time-rail .mejs__time-loaded {
  top: 0;
  left: 0;
  width: 0;
  background: #53C1B9;
}
.mejs__time-rail .mejs__time-current {
  top: 0;
  left: 0;
  width: 0;
  background: #999;
}

/* metallic sliders */
.mejs__time-rail .mejs__time-handle {
  position: absolute;
  display: block;
  width: 11px;
  height: 11px;
  top: -3px;
  background: url('/img/handle-lg.png') no-repeat;
}
/* time progress tooltip */
.mejs__time-rail .mejs__time-float {
  position: absolute;
  display: none;
  width: 33px;
  height: 16px;
  top: -23px;
  margin-left: -20px;
  z-index: 9999;
  background: url('/img/time-box.png');
}
.mejs__time-rail .mejs__time-float-current {
  width: 33px;
  display: block;
  left: -3px;
  top: 0;
  font-family: 'alda', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
  color: #666;
  text-align: center;
  z-index: 9999;
}
.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
#login-other-options a {
  color: #666;
  border-color: #333;
}
.bert-alert[class*="growl-"] .bert-content p {
  font-size: 12px !important;
}
.bert-alert .now-playing {
  background: #ccc;
  color: #333;
}
.tags {
  padding: 0 10px 10px;
}
.tags__tag-btn {
  width: 30px;
  height: 30px;
  margin-left: 7px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: none;
}
.tags__tag-btn:hover {
  background-color: #ddd;
}
.tags__text-box input {
  height: 30px;
}
.tags__no-results {
  margin-left: 15px;
}
.tags__tag {
  padding: 5px;
  margin-top: 3px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: none;
}
.chat {
  position:relative;
  width:100%;
  height:100%;
  padding:0;
  margin-top: 60px;
}
.chat__form {
  width:100%;
  height:11%;
  padding-bottom: 1%;
}
.chat__input-div {
  width:89%;
  float:left;
  height:100%;
}
#chat__input {
  width:100%;
  height:100%;
  padding:0;
  border:1px inset;
}
.chat__button {
  width:10%;
  height:100%;
  float:right;
  border:1px;
}
#chat__text {
  height: 250px;
  overflow: auto;
}
.chat__date,
.chat__username {
  color: #666;
}
.party-header__button {
  float: right;
  margin-bottom: 10px;
}
.party__flyer {
  padding: 1px;
}
.party {
  width: 50%;
}
.party-link {
  margin: 20px 0;
}
.party-link a:hover,
.party-link a {
  color: gray;
  font-size: 12px;
}
.party-details {
  position: absolute;
  right: 15px; bottom: 15px;
  padding: 5px;
  background: rgba(0,0,0,.4);
}
.party-upvotes__star,
.party-upvotes__count {
  color: #fff;
  font-size: 16px;
}
.party-upvotes__star {
  cursor: pointer;
  font-size: 14px;
}
.party-upvotes__count {
  margin: 0 0 0 10px;
}
.party-info {
  float: left;
  width: 50%;
}
.party-info h3 {
  margin: 0;
}
.party-info__details{
  width: 43px;
  height: 29px;
  padding: 5px;
  background: rgba(0,0,0,.4);
}
.party-info__star {
  padding-right: 7px;
  color: #fff;
  cursor: pointer;
}
.party-info__upvotes-count {
  color: #fff;
}
.upvoted {
  color: #ffd103;
}
.profile {
  width: 675px;
  margin: auto;
}
.profile__first-header {
  display: none;
}
.profile__left {
  clear: both;
  float: left;
  max-width: 325px;
  margin-right: 25px
}
.profile__info {
  float: left;
  max-width: 325px;
}
.profile__pic {
  float: right;
  margin-bottom: 15px;
}
.profile__header,
.profile__info h4 {
  margin: 0 0 15px 0;
}
.profile__info a {
  text-decoration: underline;
  text-decoration-style: wavy;
}
.profile__social-icons {
  height: 28px;
  margin: 0 0 9px;
}
.profile__social-icon {
  float: left;
  max-height: 100%;
  width: auto;
  padding: 0 6px 0 0;
}
.profile__bio {
  clear: both;
}
.profile__posts {
  margin: 0;
  clear: both;
}
#profile__ban-user,
#profile__unban-user {
  margin: 10px 0;
}
.playlist {
  clear: both;
  text-align: left;
}
.playlist__show-image {
  float: left;
  max-width: 160px;
  margin: 10px 15px 15px 0;
}
.playlist__show-name {
  padding: 8px 0 0;
}
.playlist__info-row{
  font-family: 'din-2014', sans-serif;
  text-transform: uppercase;
}
.playlist td {
  padding: 2px 15px 2px 0;
}
.playlist__artist {
  font-weight: bold;
}
.playlist__title {

}
.playlist__timestamp {
  color: #666;
  font-size: 11px;
}
.shows {
  padding-bottom: 40px;
}
.shows__header {
  margin: 20px 0 40px;
  font-weight: bold;
}
.shows__days {
  margin: 10px 0 20px;
  font-family: 'din-2014', sans-serif;
  text-transform: uppercase;
}
.shows__days span:first-child {
  margin-left: 0;
}
.shows__previous-day {
  float: left;
  padding: 5px 10px 0px 10px;
  cursor: pointer;
}
.shows__next-day {
  float: right;
  padding: 5px 10px 0px 10px;
  cursor: pointer;
}
.shows__day {
  border-top: 2px solid transparent;
  margin: 0 10px;
  padding: 8px 0;
  font-size: 14px;
}
.shows__day.active {
  border-top: 2px solid #a164e8;
}
.show-item {
  margin-bottom: 20px;
}
.show-item__image {
  float: left;
  width: 150px;
  margin-right: 20px;
}
.show-item__time {
  margin-bottom: 7px;
  font-family: 'din-2014', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}
.show-item__info-container {
  display: flex;
  align-items: center;
  height: 150px;
}
.show-item__info h4 {
  margin-top: 3px;
  font-weight: bold;
}
.show-item__host {
  text-decoration: underline;
  text-decoration-style: wavy;
}
.show-item__genres {
  margin-top: 28px;
  font-family: 'din-2014', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}
.show__info {
  float: left;
  max-width: 50%;
  margin-bottom: 30px;
}
.show__link {
  margin: 20px 0;
}
.show__link a:hover,
.show__link a {
  color: gray;
  font-size: 12px;
}
.show__image-div {
  max-width: 50%;
  padding-right: 20px;
}
.show__image {
  position: relative;
  float: left;
  margin: 0 20px 20px 0;
}
.show__name, .show__host {
  margin: 0 0 5px 0;
}
.show__host a {
  text-decoration: underline;
  text-decoration-style: wavy;
}
.show__title
.show__tag {
  font-size: 13px;
  color: #666;
  cursor: pointer;
}
.show__header-button {
  float: right;
  margin-bottom: 10px;
}
.show__playlists {
  clear: both;
  margin-top: 30px;
}
.show__playlists ul {
  padding: 0 0 0 16px;
}
.show__play-btn,
.show__play-btn:hover {
  border-color: #333;
}
.news-list__header {
  margin: 5px 0 20px;
  font-weight: bold;
}
.news-list__post {
  float: left;
  width: 25%;
  padding: 0 20px 20px 0;
}
.news-list__post h3 {
  margin-top: 0;
}
.news-list__title {
  color: #333;
}
.news-list__photo {
  margin: 0 20px 10px 0;
}
.news-list__paginator {
  clear: both;
  width: 100%;
  margin: 0 auto;
}
.news-item h1,
.news-item h3 {
  margin: 0 0 5px 0;
}
.news-item__photo {
  margin: 15px 0;
}
.news-item__body {
  margin: 0 0 30px 0;
}

.home__headline {
  font-size: 1.75em;
  font-weight: bold;
  padding: 5px;
  margin: 2px;
  background-color: inherit;
}

.black {
  color: black;
}

.white {
  color: white;
}

.home__section {
  font-family: 'din-2014', sans-serif;
  padding: 10px 0 5px 0;
  margin: 2px;
}

.home__news {
  width: 100%;
  text-align: center;
}

.home__reviews {
  width: 100%;
  background-color: #4616DB;
  text-align: center;
}

.home__news__content,
.home__reviews__content {
  width: 100%;
  margin: auto;
  text-align: center;
}

.home__news-item {
  display: inline-block;
  width: 24%;
  padding: 20px 15px;
}

.home__reviews-item {
  display: inline-block;
  width: 16.67%;
  padding: 20px 15px;
}
.home__reviews-img,
.home__news-img {
  clear: both;
  height: 125px;
  width: 125px;
  margin: 0 12px 6px 0;
}
.home__title,
.home__subtitle {
  margin: 0;
}
.home__subtitle {
  color: #888888;
}
.reviews h4 {
  font-weight: bold;
}
.review-page {
}
.review-item {
  float: left;
  width: 25%;
  padding: 0 20px 20px 0;
}
.review-item__release {
  font-weight: bold;
  margin-top: 7px;
}
.review-item__artist,
.review-item__release {
  font-size: 16px;
}
.review-page h3 {
  float: right;
  width: 50%;
}
.review-page__image {
  float: left;
  width: 50%;
  max-width: 450px;
  padding: 20px 20px 40px 0;
}
.review-page__rating {
  margin-top: 0;
}
.review-page__copy {
  float: left;
  width: 50%;
  padding-bottom: 40px;
}
.review-page__byline {
  color: #999;
  font-style: italic;
}
.review-page__byline {
  margin-bottom: 8px;
}
.note-editable.panel-body {
  min-height: 30px;
}
.note-editing-area {
  min-height: 100px;
}
.pagination {
  list-style-type: none;
  text-align: center;
}
.pagination .page {
  display: inline-block;;
  padding: 5px 0;
  margin: 0 2px;
}
.footer {
  position: relative;
  display: inline-flex;
  float: left;
  width: 100%;
  padding: 30px 60px 25px;
  vertical-align: middle;
  background: #333;
  color: #fff;
}
.footer__subheading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'din-2014', sans-serif;
  font-weight: bold;
}
.footer__links {
  display: inline-grid;
  margin-bottom: 10px;
  padding: 0 88px;
}
.footer__social {
  display: inline-flex;
}
.footer__links p {
  margin: 0 0 6px;
  text-align: initial;
}
.footer__links p a {
  color: #fff;
}
.footer__copyright-social-wrapper {
  width: 25%;
  display: inline-block;
  text-align: center;
}
.footer__links-wrapper {
  text-align: center;
}
.footer__social {
  margin: 0 auto;
}
.footer__social img {
  max-width: 30px;
}
.footer__copyright {
  width: 100%;
  position: relative;
  clear: both;
  margin: 15px auto 0;
  padding: 15px;
  text-align: center;
  font-family: 'din-2014', sans-serif;
}
.playlist-list__list,
.playlist-list__latest {
  float: left;
  width: 50%;
  margin-bottom: 40px;
}
.playlist-list__list h4,
.playlist-list__latest h4 {
  font-weight: bold;
}
.playlist-list__list h5,
.playlist-list__latest h5,
.playlist-list__date {
  font-size: 12px;
  line-height: 17px;
  font-family: 'din-2014';
  text-transform: uppercase;
}
.playlist-list__list {
  padding: 0 0 0 25px;
}
.playlist-list__showname {
  font-size: 17px;
}
.playlist-list__date {
  padding-top: 5xpx;
}
.playlist-list__header {
  margin-top: 0;
}
.playlist-list__table {
  border-color: transparent;
}
.playlist-list__table tr {
    margin: 0 0 10px 0;
}
.playlist-list__table tr td {
  padding: 5px 10px 5px 0;
  border-color: transparent;
}
.playlist-list__table tr td img {
  width: 75px !important;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 1200px) {
  .landing {
    background-size: auto;
    background-attachment: initial;
  }
  .landing__box {
    position: relative;
    top: 33%;
    margin: auto;
  }
  .party {
    width: 33.3333333%;
  }
}
@media (max-width: 992px) {
  .info-box__link {
    margin: 15px 10px 0 15px;
    font-size: 20px;
  }
  .navbar-nav {
    margin: 4px 0;
  }
  .news-list__post {
    width: 50%;
  }
  .news-list__excerpt {
    clear: both;
  }
}
@media (max-width: 979px) {
  .header__support-btn {
    display: none;
  }
  .header__submenu-support {
    display: block;
  }
}
@media (max-width: 807px) {
  .nav > li > a {
      margin: 0 10px;
  }
}
@media (max-width: 768px) {
  #main {
    padding: 25px 40px;
  }
  .spacer-sm {
    height: 50px;
    width: 0;
  }
  .mejs__container {
    margin-top: 0;
  }
  .footer {
    padding: 30px 40px 25px;
  }
  .info-box__link {
    margin-top: 10px;
  }
  .dropdown-menu.fixed-theme > li > a,
  .dropdown-menu.fixed-theme > li > a:hover,
  .dropdown-menu.fixed-theme > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .fixed-theme,
  .fixed-theme {
    color: #fff;
    background-color: #333 !important;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:active {
    border-top: 2px solid transparent;
    font-style: italic;
  }
  .flyer-div {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }
  .flyer-div__front,
  .flyer-div__back {
    margin: 0 0 20px 0;
  }
  .navbar {
    padding: 0 25px;
  }
  .nav__search {
    margin: 5px 0 10px 10px;
  }
  .show__info {
    float: none;
    max-width: 100%;
  }
  .show__image-div {
    float: none;
    max-width: 100%;
  }
  .navbar-nav > li > a,
  .dropdown-toggle {
    margin: 0 10px 0 16px;
    padding: 8px 0 8px 0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    padding: 8px 15px 8px 25px;
  }
  #login-dropdown-list .dropdown-menu {
    margin-bottom: 10px;
  }
  .playlist-list__list,
  .playlist-list__latest {
    float: none;
    width: 100%;
  }
  .playlist-list__list {
    padding: 30px 0 20px 0;
  }
  li.header__aloha {
    display: none;
  }
  .home__reviews-item,
  .home__news-item {
    width: 33.3%;
  }
  .profile {
    width: inherit;
  }
  .profile__left {
    width: 50%;
    max-width: none;
    margin: 0;
    padding-right: 25px;
  }
  .profile__info {
    width: 50%;
    max-width: none;
  }
  .profile__header {
    font-size: 26px;
  }
}
@media (max-width: 666px) {
  .party {
    width: 100%;
  }
  .party-info {
    margin-top: 20px;
  }
  .header__support-btn {
    display: block;
  }
  .header__submenu-support {
    display: none;
  }
  .landing__play-btn {
    left: 1.75em;
    top: 2.25em;
    width: 5em;
    height: 5em;
  }
  .landing__play-btn-triangle {
    height: 3.5em;
    width: 3.5em;
    left: -1.7em;
    top: .8em;
  }
  .landing__box {
    margin: calc(43vh - 10em) auto;
    text-align: center;
    max-width: 17em;
  }
  .landing__info {
    float: none;
    width: 17em;
    height: auto;
    margin: 0 0 20px 0;
  }
  .landing__play-btn-outer {
    float: none;
    width: 10em;
    height: 10em;
    margin: 0 auto;
  }
  .landing__show-name,
  .landing__show-host,
  .landing__song-title,
  .landing__host-name {
    font-size: 26px;
    line-height: 32px;
  }
  .landing__pause-btn {
    top: 30%;
    width: 4.5em;
    height: 4em;
    border-left: solid 1.6em #fff;
    border-right: solid 1.6em #fff;
  }
  .news-list__post {
    float: none;
    width: 100%;
    padding: 0 0 20px 0;
  }
  .news-list__photo {
    margin: 0 0 10px 0;
  }
  .footer__links {
    width: 50%;
    margin-bottom: 20px;
  }
  .footer__links__clear {
    clear: both;
  }
  .review-page__image,
  .review-page h3,
  .review-page__copy {
    float: none;
    width: 100%;
  }
  .profile__pic {
    float: none;
  }
  .profile__header-separator { display: none; }
  .profile__social { margin-bottom: 15px; }
  .profile__social-icons {
    float: none;
  }
  .profile__first-header {
    display: block;
  }
  .profile__info .profile__header {
    display: none
  }
  .profile__left {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .profile__info {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #main, .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar {
    padding: 0 20px 0 5px;
  }
  .navbar-toggle {
    margin-right: 5px;
  }
  .footer__links {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer .footer__links:nth-child(2) .footer__subheading {
    display: none;
  }
  .home__reviews-item,
  .home__news-item {
    width: 50%;
  }
}
