@font-face {
    font-family: 'Sweden Sans';
    src: url('/fonts/swedensans-webfont.eot');
    src: url('/fonts/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/swedensans-webfont.woff2') format('woff2'),
         url('/fonts/swedensans-webfont.woff') format('woff'),
         url('/fonts/swedensans-webfont.ttf') format('truetype'),
         url('/fonts/swedensans-webfont.svg#sweden_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sweden Sans';
    src: url('/fonts/swedensansbold-webfont.eot');
    src: url('/fonts/swedensansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/swedensansbold-webfont.woff2') format('woff2'),
         url('/fonts/swedensansbold-webfont.woff') format('woff'),
         url('/fonts/swedensansbold-webfont.ttf') format('truetype'),
         url('/fonts/swedensansbold-webfont.svg#sweden_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot');
    src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.woff') format('woff'),
        url('/fonts/icomoon.ttf') format('truetype'),
        url('/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Colors */
.red { color: #0067b3 }
.yellow { color: #ffd103 }
.blue { color: #f3c1b9 }
.green { color: #0067b3 }
.grid-block,
.main,
.comments li,
.comment-form {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
}
body {
    background: #fff;
    color: #333;
    font-family: 'Sweden Sans';
}
img {
    max-width: 100%;
    height: auto;
}
.container {
  min-height: calc(100vh - 30px);
}
#main {
    position: relative;
}
.clear {
    clear: both;
}
.alert {
    float: left !important;
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}
.review-page {
    position: absolute;
    top: 0px;
    width: 100%;
}
.navbar {
    margin: 15px 0 10px;
    border: none;
}
.navbar-nav {
    margin: 12px 0 12px 10px;
}
.navbar-collapse {
    padding: 0;
    border-top: none;
}
.navbar .navbar-inner {
    border-radius: 0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #333;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
    color: #777;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:active
{
    background: #000;
    color: #fff;
    outline: none;
}
#login-dropdown-list {
    margin-left: 5px;
}
.nav__play-img {
    max-height: 12px;
    width: auto;
}
.nav__logo {
    max-width: 36px;
}
.nav__search {
    margin: 0 0 0 15px;
}
.nav__search input {
    height: 28px;
    width: 90px;
    margin-top: 10px;
    padding-left: 5px;
    font-size: 14px;
    font-family: 'Glyphicons Halflings';
    border: 1pt solid #ccc;
    -webkit-transition-property: width;
       -moz-transition-property: width;
         -o-transition-property: width;
            transition-property: width;
    -webkit-transition-duration: .15s;
       -moz-transition-duration: .15s;
         -o-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}
.nav__search input:focus {
    width: 140px;
    -webkit-transition-property: width;
       -moz-transition-property: width;
         -o-transition-property: width;
            transition-property: width;
    -webkit-transition-duration: .15s;
       -moz-transition-duration: .15s;
         -o-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}
#spinner, .spinner {
  position: static;
  margin: 150px auto !important;
}
.navbar-default {
    background-color: #fff;
}
.info-box {
    float: left;
    max-width: 120px;
    margin: 0 20px 0 0;
}
.info-box__social {
    padding: 9px 0 0;
    margin: 0 0 0 10px;
    clear: both;
}
.info-box__social img {
    max-width: 30px;
}
.logo-img {
    max-width: 100%;
    margin: auto;
}
.party {
    position: relative;
    float: left;
    opacity: 1;
    width: 33.333333333%;
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
}
.party__tag {
    font-size: 13px;
    color: #666;
    cursor: pointer;
}
.flyer-div {
    float: left;
    width: 50%;
    padding-right: 20px;
}
.flyer-div__front,
.flyer-div__back {
    position: relative;
    margin: 0 20px 20px 0;
    float: left;
}
.comments {
    clear: both;
}
.comments__header {
    padding: 30px 0 0;
    margin: 0;
    font-size: 18px;
}
.comments__list {
    list-style-type: none;
    padding-left: 0;
}
.comments__list h4 {
    margin: 0;
}
.comments__list p:last-child {
    margin-bottom: 0;
}
.comment__author {
    font-size: 16px;
}
.comment__date {
    font-weight: normal;
    font-size: 11px;
    color: #888;
}
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more-button button {
    display: block;
    height: 45px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    line-height: 45px;
    background: none;
}
.load-more-button button:hover{
    background-color: #ddd;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}
.jumbotron {
    text-align: center;
}
.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}
.index-table img {
    max-width: 80px;
    height: auto;
}
.notifications {
  position: absolute;
  top: 10; left: 10;
  z-index: 1;
}
.notification {
  background: rgba(51,51,51, .95);
  color: #fff;
  position: relative;
  width: 100%;
}
.icon-sync {
  position: absolute;
  height: 12px);
  font-size: 1.5em;
}
.icon-sync. .title-notification {
  padding-left: 40px;
}
.title-notification {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  display: block;
  line-height: 1rem;
  padding: 1rem .75rem;
}
/** audio player styles **/
audio {
    display: none;
}
.audio-player, .audio-player div, .audio-player h2, .audio-player a,
.audio-player span, .audio-player > button {
}
.audio-player, .mejs__container, .mejs__mediaelement {
  width: 130px;
  height: 40px;
}
.mejs__controls {
    position: static !important;
}
.mejs__container {
    margin-top: 4px;
}
.mejs__container,
.mejs__controls {
    background: none !important;
}
.mejs__offscreen { display: none !important; }
.mejs__broadcast {
  color: #333 !important;
  font-family: 'Sweden Sans' !important;
  font-size: 12px !important;
}
/* play/pause control */
.mejs__button {
  margin: 3px 0 0 0 !important;
  cursor: pointer;
}
.mejs__button > button {
  width: 17px !important;
  height: 17px !important;
  background: url('/img/playpause.png') !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-size: cover !important;
}
.mejs__pause > button { background-position: 0 -17px !important; }

/* time scrubber bar */
.mejs__time-rail {
  width: 140px !important;
  top: 7px;
  right: 10px;
  margin: 2px 7px 0 0 !important;
}

.mejs__time-rail a,
.mejs__time-rail span {
  position: absolute;
  display: block;
  width: 75px;
  height: 5px;
  top: 7px;
  left: 20px;
  cursor: pointer;
}
.mejs__time-float-corner {
  display: none !important;
}
.mejs__time-rail .mejs__time-total {
  background: #999;
  width: 79px !important; /* fixes display bug using jQuery 1.8+ */
}
.mejs__time-rail .mejs__time-loaded {
  top: 0;
  left: 0;
  width: 0;
  background: #53C1B9;
}
.mejs__time-rail .mejs__time-current {
  top: 0;
  left: 0;
  width: 0;
  background: #999;
}

/* metallic sliders */
.mejs__time-rail .mejs__time-handle {
  position: absolute;
  display: block;
  width: 11px;
  height: 11px;
  top: -3px;
  background: url('/img/handle-lg.png') no-repeat;
}
/* time progress tooltip */
.mejs__time-rail .mejs__time-float {
  position: absolute;
  display: none;
  width: 33px;
  height: 16px;
  top: -23px;
  margin-left: -20px;
  z-index: 9999;
  background: url('/img/time-box.png');
}
.mejs__time-rail .mejs__time-float-current {
  width: 33px;
  display: block;
  left: -3px;
  top: 0;
  font-family: 'Sweden Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
  color: #666;
  text-align: center;
  z-index: 9999;
}
.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}
.hidden {
    visibility: hidden;
}
#login-other-options a {
    color: #666;
    border-color: #333;
}

.bert-alert .now-playing {
    background: #ccc;
    color: #333;
}
.tags {
    padding: 0 10px 10px;
}
.tags__tag-btn {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: none;
}
.tags__tag-btn:hover {
    background-color: #ddd;
}
.tags__text-box input {
    height: 30px;
}
.tags__no-results {
    margin-left: 15px;
}
.tags__tag {
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: none;
}
.chat {
    position:relative;
    width:100%;
    height:100%;
    padding:0;
    margin-top: 60px;
}
.chat__form {
    width:100%;
    height:11%;
    padding-bottom: 1%;
}
.chat__input-div {
    width:89%;
    float:left;
    height:100%;
}
#chat__input {
    width:100%;
    height:100%;
    padding:0;
    border:1px inset;
}
.chat__button {
    width:10%;
    height:100%;
    float:right;
    border:1px;
}
#chat__text {
    height: 250px;
    overflow: auto;
}
.chat__date,
.chat__username {
    color: #666;
}
.party-header__button {
    float: right;
    margin-bottom: 10px;
}
.party__flyer {
    padding: 1px;
}
.party {
    width: 50%;
}
.party-link {
    margin: 20px 0;
}
.party-link a:hover,
.party-link a {
    color: gray;
    font-size: 12px;
}
.party-details {
    position: absolute;
    right: 15px; bottom: 15px;
    padding: 5px;
    background: rgba(0,0,0,.4);
}
.party-upvotes__star,
.party-upvotes__count {
    color: #fff;
    font-size: 16px;
}
.party-upvotes__star {
    cursor: pointer;
    font-size: 14px;
}
.party-upvotes__count {
    margin: 0 0 0 10px;
}
.party-info {
    float: left;
    width: 50%;
}
.party-info h3 {
    margin: 0;
}
.party-info__details{
    width: 43px;
    height: 29px;
    padding: 5px;
    background: rgba(0,0,0,.4);
}
.party-info__star {
    padding-right: 7px;
    color: #fff;
    cursor: pointer;
}
.party-info__upvotes-count {
    color: #fff;
}
.upvoted {
    color: #ffd103;
}
.profile__pic {
    float: left;
    margin-bottom: 15px;
}
.profile__header {
    float: left;
    margin: 0 10px 15px 0;
}
.profile__social {
    height: 35px;
    margin: 0 0 10px;
}
.profile__social-icon {
    float: left;
    max-height: 100%;
    width: auto;
    padding: 0 7px 0 0;
    margin-top: 5px;
}
.profile__bio {
    clear: both;
}
.profile__mixes {
    margin-bottom: 20px;
    clear: both;
}
.playlist {
  text-align: left;
}
.playlist__info-row{
  text-transform: uppercase;
}
.playlist td {
  padding: 2px 15px 2px 0;
}
.playlist__artist {
    font-weight: bold;
}
.playlist__title {

}
.playlist__timestamp {
    color: #666;
    font-size: 11px;
}
.shows__header {
    width: 300px;
    text-align: center;
    margin: auto;
}
.shows__header span {
    font-size: .65em;
}
.shows__previous-day {
    float: left;
    padding: 5px 10px 0px 10px;
    cursor: pointer;
}
.shows__next-day {
    float: right;
    padding: 5px 10px 0px 10px;
    cursor: pointer;
}
.show-item {
    margin-bottom: 15px;
}
.show-item__image {
    float: left;
    width: 150px;
    margin-right: 20px;
}
.show-item__info-container {
    display: flex;
    align-items: center;
    height: 150px;
}
.show-item__info h4 {
  font-weight: bold;
  margin-top: 3px;
}
.show__info {
    float: left;
    max-width: 50%;
    margin-bottom: 30px;
}
.show__link {
    margin: 20px 0;
}
.show__link a:hover,
.show__link a {
    color: gray;
    font-size: 12px;
}
.show__image-div {
    max-width: 50%;
    padding-right: 20px;
}
.show__image {
    position: relative;
    float: left;
    margin: 0 20px 20px 0;
}
.show__name, .show__host {
    margin: 0 0 5px 0;
}
.show__host a {
    text-decoration: underline;
    text-decoration-style: wavy;
}
.show__title
.show__tag {
    font-size: 13px;
    color: #666;
    cursor: pointer;
}
.show__header-button {
    float: right;
    margin-bottom: 10px;
}
.show__playlists {
  clear: both;
  margin-top: 30px;
}
.show__play-btn {
  border-color: #333;
}
.show__play-btn:hover {
  border-color: #333;
}
.home {

}
.home__news,
.home__reviews {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.home__reviews-item,
.home__news-item {
  width: 25%;
  padding: 0 20px 20px 0;
}
.home__reviews-img,
.home__news-img {
  clear: both;
  height: 125px;
  width: auto;
  margin: 0 12px 0 0;
}
.home__news-title,
.home__reviews-title {
  color: #333;
}
.note-editable.panel-body {
  min-height: 30px;
}
.note-editing-area {
  min-height: 100px;
}
.pagination {
  list-style-type: none;
  text-align: center;
}
.pagination .page {
  display: inline-block;;
  padding: 5px 0;
  margin: 0 2px;
}
.footer {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.footer div {
  margin-bottom: 10px;
}
.playlist-list tr td {
  padding: 5px;
}
.playlist-list tr td img {
  width: 75px !important;
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (min-width: 1200px) {
    .party {
        width: 33.3333333%;
    }
    .profile__pic {
        max-width: 50%;
        padding: 0 25px 0 0;
    }
    .profile__info {
        float: left;
        max-width: 50%;
    }
}
@media (max-width: 992px) {
    .info-box {
        max-width: 90px;
    }
    .info-box__social {
        display: none;
    }
    .navbar-nav {
        margin: 4px 0;
    }
}
@media (max-width: 767px) {
    .mejs__container {
        margin-top: 0;
    }
    .flyer-div {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }
    .flyer-div__front,
    .flyer-div__back {
        margin: 0 0 20px 0;
    }
    .info-box__social {
        display: inherit;
        margin-bottom: 8px;
    }
    .info-box {
        margin-bottom: 10px;
    }
    .nav__search {
        margin: 5px 0 10px 10px;
    }
  .show__info {
      float: none;
      max-width: 100%;
  }
  .show__image-div {
      float: none;
      max-width: 100%;
  }
}
@media (max-width: 666px) {
    .party {
        width: 100%;
    }
    .party-info {
        margin-top: 20px;
    }
    .profile__header {
        float: none;
        margin-bottom: 8px
    }
    .profile__header-separator { display: none; }
    .profile__social { margin-bottom: 15px; }
}
