<template name='layout'>
  {{#if Template.subscriptionsReady}}
    {{#if home}}
      {{#if notice}}
        <div class='banner-container'>
        {{#with notice}}
          {{> banner}}
        {{/with}}
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
  <div class='container'>
    {{#if home}}
      {{> landing}}
      <div class='spacer-lg'></div>
    {{else}}
      <div class='spacer-sm'></div>
    {{/if}}
    {{> errors}}
    {{> header}}
    <div id='main'>
      {{> Template.dynamic template=content}}
    </div>
  </div>
  {{> footer}}
</template>
