<template name="musicCharts">
  <div class='music__playlists'>
    <h2>Charts</h2>
    <div>
      {{#if ready}}
      <table class="playlist-list" border="1">
        <tr>
          <td>Chart Title</td>
          <td>Chart Date</td>
          <td>Modified At</td>
        </tr>
      {{#each docs}}
        <tr>
          <td>{{title}}</td>
          <td>{{chartDate}}</td>
          <td><a href="/charts/{{slug}}/">{{editedAt}}</a></td>
        </tr>
      {{/each}}
      </table>
      {{> defaultBootstrapPaginator pagination=tempPag limit=8}}
      {{/if}}
    </div>
  </div>
</template>
