<template name="charts">
  <h1>Music Charts</h1>
  <div>
    {{#if Template.subscriptionsReady}}
      {{> EasySearch.Input index=index  attributes=attr}}
      <div>
      <ul>
      {{#EasySearch.Each index=index}}
        <li><a href="/news/{{slug}}/">{{title}}</a></li>
      {{/EasySearch.Each}}
      </ul>

      {{#EasySearch.IfNoResults index=index}}
        <p>No charts found</p>
      {{/EasySearch.IfNoResults}}

      {{> EasySearch.Pagination index=index maxPages=20}}
      </div>
    {{/if}}
  </div>
</template>
