<template name="musicPlaylists">
  <h1>Playlists</h1>
  <div>
    {{#if Template.subscriptionsReady}}
      {{> EasySearch.Input index=index attributes=attr}}
      <div>
      <table>
      {{#EasySearch.Each index=index}}
        <tr>
          <td><img src="{{img showId}}" /></td>
          <td>{{showName showId}}</td>
          <td><a href="/playlist/{{spinPlaylistId}}/">{{showDate}}</a></td>
        </tr>
      {{/EasySearch.Each}}
      </table>

      {{#EasySearch.IfNoResults index=index}}
        <p>No playlists found</p>
      {{/EasySearch.IfNoResults}}

      {{> EasySearch.Pagination index=index maxPages=20}}
      </div>
    {{/if}}
  </div>
</template>
