<template name="musicPlaylists">
  <div class='music__playlists'>
    <h2>Playlists</h2>
    <div>
      {{#if ready}}
        <table class="playlist-list" border="1">
        <tr>
          <td colspan="2">Show</td>
          <td>Date</td>
        </tr>
        {{#each docs}}
          <tr>
            <td><img class="music__playlist-image" height="150px" src="{{#unless isSub showId}}{{img showId}}{{else}}mstile-150x150.png{{/unless}}" /></td>
            <td>
              {{#unless isSub showId}}
                {{showName showId}}
              {{else}}
                Sub Show
              {{/unless}}
            </td>
            <td><a href="/playlists/{{spinPlaylistId}}/">{{showDate}}</a></td>
          </tr>
        {{/each}}
        </table>
        {{> defaultBootstrapPaginator pagination=tempPag limit=8}}
      {{/if}}
    </div>
  </div>
</template>
