<template name='partyList'>
  <div class='party-header'>
    {{#if currentUser}}
      <a href='/party/new'><button type="button" class="btn btn-default btn-md party-header__button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
      </button></a>
    {{/if}}
  </div>
  <div class='clear'></div>
  <div class='parties'>
  {{#if Template.subscriptionsReady}}
    {{#each parties}}
      {{> partyItem}}
    {{/each}}
  {{else}}
    {{> spinner}}
  {{/if}}
  </div>
</template>