<template name='footer'>
  <div class='footer'>
    <div class='footer__links'>
      <p class='footer__subheading'><a href='/contact-us'>Contact Us</a></p>
      <p><a href='tel:18089567261'>Request Line<br>(808) 956-7261</a></p>
      <p><a href='tel:18089565288'>Office<br>(808) 956-5288</a></p>
      <p><a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#111;&#102;&#102;&#105;&#99;&#101;&#64;&#107;&#116;&#117;&#104;&#46;&#111;&#114;&#103;'>Email<br>&#111;&#102;&#102;&#105;&#99;&#101;&#64;&#107;&#116;&#117;&#104;&#46;&#111;&#114;&#103;</a></p>
    </div>
    <div class='footer__links'>
      <p class='footer__subheading'><br></p>
      <p>KTUH FM Honolulu<br>
      2445 Campus Road<br>
      Hemenway Hall #20<br>
      Honolulu, HI 96822</p>
    </div>
    <div class='footer__links footer__links__clear'>
      <p class='footer__subheading'>UH Media</p>
      <p><a href='http://hawaiireview.org/'>Hawaii Review</a></p>
      <p><a href='http://kaleo.org/'>Ka Leo </a></p>
      <p><a href='http://www.manoanow.org/'>Mānoa Now</a></p>
      <p><a href='http://www.manoanow.org/uhpro/'>UH Productions</a></p>
    </div>
    <div class='footer__links footer__social'>
      <p class='footer__subheading'>Follow Us</p>
      <a href='http://instagram.com/ktuh_fm' target="_blank"><img src='/img/instagram.png'></a>
      <a href='https://www.facebook.com/ktuh.honolulu' target="_blank"><img src='/img/facebook.png'></a>
      <a href='http://twitter.com/ktuh_fm' target="_blank"><img src='/img/twitter.png'></a>
    </div>
  </div>
  <div class='footer__copyright'>©{{year}} KTUH FM Honolulu</div>
</template>
