<template name='header'>
  <nav class='navbar navbar-default' role='navigation'>
    <div class='info-box'>
      <a class='info-box__link' href='/'>KTUH FM</a>
    </div>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navigation'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>
    <div class='collapse navbar-collapse' id='navigation'>
      <ul class='nav navbar-nav navbar-left'>
        <li class='{{activePage 'about' 'aboutPage'}} nav-item nav-item__news'>
          <a href='#'>About Us</a>
        </li>
        <li class='{{activePage 'show' 'showPage'}} nav-item nav-item__news'>
          <a href={{showPage}}>Shows</a>
        </li>
        <li class='{{activePage 'music'}} nav-item nav-item__music'>
          <a href={{musicPage}}>Music</a>
        </li>
        <li class='{{activePage 'party' 'partyPage'}} nav-item nav-item__parties'>
          <a href={{partyPage}}>Events</a>
        </li>
        <li class='{{activePage 'news' 'newsPage'}} nav-item nav-item__news'>
          <a href={{newsPage}}>Radioblog</a>
        </li>
<!--         <li class='{{activePage 'review' 'reviewsPage'}} nav-item nav-item__reviews'>
          <a href={{reviewsPage}}>Reviews</a>
        </li> -->
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li class='nav-item'>
          <div class='audio-player'>
            <audio id="audio-player" preload="none" controls>
              <source src="http://stream.ktuh.org:8000/stream-mp3" type="audio/mp3">
            </audio>
          </div>
        </li>
        <li>
        </li>
      {{> loginButtons}}
      </ul>
    </div>
    <div class="now-playing-bar">
      {{{latestSong}}}
    </div>
  </nav>
  <script src="/mejs/mediaelement-and-player.min.js"></script>
</template>
