<template name='header'>
  <nav class='navbar navbar-default' role='navigation'>
    <div class='info-box'>
      <a class='info-box__link' href='/'>KTUH FM</a>
    </div>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navigation'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>
    <div class='collapse navbar-collapse' id='navigation'>
      <ul class='nav navbar-nav navbar-left'>
        <li class='dropdown {{activePage 'page'}}'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>About Us <span class='caret'></span></a>
          <ul class='dropdown-menu'>
            <li class='header__submenu-support'>
              <a href='/donate'><button class='btn btn-md'>Donate Now</button></a>
            </li>
            <li><a href='/about-us'>KTUH History</a></li>
            <li><a href='/staff'>KTUH Staff</a></li>
            <li><a href='/donate'>Donate</a></li>
            <li><a href='/join-ktuh'>Join KTUH</a></li>
            <li><a href='/contact-us'>Contact Us</a></li>
            <li><a href='/faq'>FAQ</a></li>
          </ul>
        </li>
        <li class='dropdown {{activePage 'show' 'showPage' 'showCreate' 'showEdit' 'playlistPage' 'playlistList' 'reviewsPage'}}'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Music <span class='caret'></span></a>
          <ul class='dropdown-menu'>
            <li><a href='/shows'>Show Schedule</a></li>
            <li><a href='/playlists'>Playlist</a></li>
            <li><a href='/reviews'>Reviews</a></li>
            <li><a href='/charts'>Charts</a></li>
          </ul>
        </li>
        <li class='{{activePage 'party' 'partyPage' 'partyCreate' 'partyEdit'}} nav-item nav-item__parties'><a href={{partyPage}}>Events</a></li>
        <li class='{{activePage 'news' 'newsPage'}} nav-item nav-item__news'><a href={{newsPage}}>Radioblog</a></li>
      </ul>
      <ul class='nav navbar-nav'>
        <li class='nav-item'>
          <div class='audio-player'>
            <audio id='audio-player' preload='none' controls>
              <source src='http://stream.ktuh.org:8000/stream-mp3' type='audio/mp3'>
            </audio>
          </div>
        </li>
        {{> loginButtons}}
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li class='nav-item'>
          <button type='button' class='btn btn-md header__support-btn'><a href='/donate'>DONATE</a></button>
        </li>
      </ul>
    </div>
    <div class='now-playing-bar'>
      {{{latestSong}}}
    </div>
  </nav>
  <script src='/mejs/mediaelement-and-player.min.js'></script>
</template>
