<template name='chatForm' xmlns='http://www.w3.org/1999/html'>
    <div className='chat'>
        <h3 className='chat__header'>KTUH Honolulu Chat</h3>
        <div id='chat__text'>
            {{#each chat}}
                {{>chatItem}}
            {{/each}}
        </div>

        <form className='chat__form'>
            <div className='chat__input-div'><input id='chat__input' type='text' placeholder='Enter your message here' /></div>
            <button className='chat__button' type='submit'>Send</button>
        </form>
    </div>
</template>

<template name='chatItem'>
    <p>
        <span className='chat__date'>{{formatDate chatDate}} | </span>
        <span className='chat__username'>{{chatUserName}}:</span>
        <span className='chat__message'>{{chatText}}</span>
    </p>
</template>
