<template name='home'>
{{#if Template.subscriptionsReady}}
<div class='home__featured'>
  {{#if featuredPost}}
    <div class='home__featured-content'>
    {{#with featuredPost}}
      <div class='home__featured-photo'>
        <span class='purple-tag'>Featured</span>
        <img class='home__featured-img' src='{{photo.url}}'>
      </div>
      <div class='home__featured-item'>
        <p class='home__featured-category'>{{category}}</p>
        <a href='/news/{{slug}}'>
          <h3 class='home__title'>{{title}}</h3>
        </a>
        <p class='home__synopsis'>
          {{renderSummary summary body 100}}
        </p>
      </div>
    {{/with}}
    </div>
  {{/if}}
</div>
<div class='home__wrapper'>
  <div class='home__main'>
    <div class='home__news'>
    {{#if posts}}
      <h3 class='home__section'>RADIOBLOG</h3>
      <a href='/news' class='home__more'>MORE NEWS&nbsp;&nbsp;<span class='glyphicon glyphicon-arrow-right'></span></a>
    {{/if}}
    <div class='home__news-content'>
      {{#each posts}}
      <div class='home__news-item'>
        <a href='/news/{{slug}}'>
          <img class='home__news-img' src='{{photo.url}}'>
          <h4 class='home__title'>{{title}}</h4>
        </a>
        <p class='home__synopsis'>{{renderSummary summary body 40}}</p>
        <p class='home__byline'>
          by <a href='/profile/{{getUsernameById userId}}'>{{getDisplayNameById userId}}</a> / {{getTime submitted}}
        </p>
      </div>
      {{/each}}
    </div>
  </div>
  <div class='home__reviews'>
    {{#if reviews}}
      <h3 class="home__section">MUSIC REVIEWS</h3>
      <a href='/reviews' class='home__more'>MORE REVIEWS&nbsp;&nbsp; <span class='glyphicon glyphicon-arrow-right'></span></a>
    {{/if}}
    <div class='home__reviews-content'>
      {{#each reviews}}
        <div class='home__reviews-item'>
          <a href='/reviews/{{slug}}'>
            <img class='home__reviews-img' src='{{image.url}}'>
            <p class='home__title'>{{artist}}</p>
            <p class='home__subtitle'>{{releaseName}}</p>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<div class='home__sidebar'>
  <div class='home__next-show'>
    <p class="home__next-on-air">Next On Air</p>
    {{#with getNextShow}}
      <div class='home__next-show-info'>
        <div class='home__next-show-deets'>
          <p class='home__next-show-name'>{{showName}}</p>
          <p class='home__next-show-host'>hosted by {{host}}</p>
          <p class='home__next-show-time'>
            {{getStartEndTime startHour startMinute endHour endMinute}}
          </p>
        </div>
        <div class='home__next-show-image'>
          <img src='{{featuredImage.url}}' />
        </div>
      </div>

    {{/with}}
    <br><br>
    <a class="white-button home__next-show-btn" href="/shows">Program Schedule</a>
    <br><br>
  </div>
</div>
</div>
{{/if}}
{{ > support }}
</template>
