<template name="home">
  <div class='home__hero-image'>
  </div>
  {{#if posts}}<h3>News</h3>{{/if}}
  <div class='home__news'>
    {{#each posts}}
    <div class='home__news-item'>
      <a href='/news/{{slug}}'>
        <img class='home__news-img' src='{{photo.url}}'>
        <h4 class='home__news-title'>{{title}}</h4>
      </a>
    </div>
    {{/each}}
  </div>
  {{#if reviews}}<h3>Reviews</h3>{{/if}}
  <div class='home__reviews'>
    {{#each reviews}}
    <div class='home__reviews-item'>
      <a href='/reviews/{{slug}}'>
        <img class='home__reviews-img' src='{{image.url}}'>
        <h4 class='home__reviews-title'>{{artist}}: <i>{{releaseName}}</i></h4>
      </a>
    </div>
    {{/each}}
  </div>
  <div class='home__playlists'>

  </div>
  <!-- IG & Twitter widgets to go here? -->
</template>