<template name='landing'>
  <div class='landing' style='background-image:{{background}};'>
    <div class='landing__box'>
      {{#if Template.subscriptionsReady}}
        <div class='landing__play-btn-outer'>
          {{#if isPlaying}}
            <div class='landing__pause-btn-l'></div>
            <div class='landing__pause-btn-r'></div>
          {{else}}
          <div class='landing__play-btn'>
            <div class='landing__play-btn-triangle'></div>
          </div>
          {{/if}}
        </div>
        <div class='landing__info'>
        {{#if currentShow}}
          {{#with currentShow}}
          <p class='landing__show-name caps'><a href="/shows/{{slug}}">{{showName}}</a></p>
            {{#if isSubShow}}
              {{#if usernameFromDisplayName host}}
                <p class='landing__show-host caps'>with <a href='/profile/{{usernameFromDisplayName showActualHost}}'>{{showActualHost}}</a></p>
              {{else}}
                <p class='landing__show-host caps'>with {{host}}</p>
              {{/if}}
            {{else}}
              <p class='landing__show-host caps'>with
                {{#if usernameFromDisplayName host}}
                  <a href='/profile/{{usernameFromDisplayName host}}'>{{host}}</a>
                {{else}}
                  <a href='/profile/{{usernameById userId}}'>{{host}}</a>
                {{/if}}
              </p>
            {{/if}}
            {{#if nowPlaying}}
              {{{formatNP nowPlaying}}}
            {{/if}}
          {{/with}}
        {{else}}
          {{#if nowPlaying}}
            <p class='landing__now-playing'>On Air Now:</p>
            {{{formatNP nowPlaying}}}
          {{else}}
            <p class='landing__show-host'>Welcome to KTUH FM Honolulu</p>
            <p class='landing__host-name'>Radio for the People</p>
          {{/if}}
        {{/if}}
        </div>
      {{/if}}
    </div>
    <h4 class='landing__freq landing__hnl-freq'>90.1 FM Honolulu</h4>
    <h4 class='landing__freq landing__ns-freq'>91.1 FM Waialua </h4>
    <a href='/playlists'><h6 class='landing__current-playlist'><span class='landing__view-current'>View Current </span>Playlist&nbsp;&nbsp;<span class='glyphicon glyphicon-eye-open'></span></h6></a>
    <div class='landing__down-arrow'></div>
  </div>
</template>
