<template name='landing'>
  <div class='landing' style='background-image:{{background}};'>
    <div class='landing__box'>
      {{#if Template.subscriptionsReady}}
        <div class='landing__info'>
        {{#if showName}}
          <p class='landing__now-playing caps'>On Air Now:</p>
          <p class='landing__show-name caps'>{{showName}}</p>
          <p class='landing__show-host caps'>
            with <span class='landing__host-name'>{{showHost}}</span>
          </p>
          {{#if nowPlaying}}
            <p class='landing__song-title caps'>Now Playing:</p>
            {{{formatNP nowPlaying}}}
          {{/if}}
        {{else}}
          <p class='landing__show-host'>Welcome to KTUH FM Honolulu.</p>
          <p class='landing__host-name'>Radio for the People.</p>
        {{/if}}
        </div>
        <div class='landing__play-btn-outer'>
          {{#if isPlaying}}<div class='landing__pause-btn-l'></div><div class='landing__pause-btn-r'></div>
          {{else}}<div class='landing__play-btn'><div class='landing__play-btn-triangle'></div></div>{{/if}}
        </div>
      {{/if}}
    </div>
    <h4 class='landing__freq landing__hnl-freq'>90.1 FM Honolulu</h4>
    <h4 class='landing__freq landing__ns-freq'>91.1 FM Waialua </h4>
    <a href='/playlists'><h6 class='landing__current-playlist'>View Current Playlist&nbsp;&nbsp;<span class='glyphicon glyphicon-eye-open'></span></h6></a>
  </div>
</template>
