<template name='landing'>
  <div class='landing' style='background-image:{{background}};'>
    <div class='landing__box'>
      {{#if Template.subscriptionsReady}}
        <div class='landing__info'>
        {{#if showName}}
          <p class='landing__now-playing'>On Air Now:</p>
          <p class='landing__show-name'>{{showName}}</p>
          <p class='landing__show-host'>with <span class='landing__host-name'>{{showHost}}</span></p>
          {{#if nowPlaying}}
            <p class='landing__song-title'>Now Playing:</p>
            {{{formatNP nowPlaying}}}
          {{/if}}
        {{else}}
          <p class='landing__show-host'>Welcome to KTUH FM Honolulu.</p>
          <p class='landing__host-name'>Radio for the People.</p>
        {{/if}}
        </div>
        <div class='landing__play-btn-outer'>
          {{#if isPlaying}}<div class='landing__pause-btn-l'></div><div class='landing__pause-btn-r'></div>
          {{else}}<div class='landing__play-btn'><div class='landing__play-btn-triangle'></div></div>{{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</template>
