<template name='profilePage'>
  {{#if Template.subscriptionsReady}}
    {{#if profile}}
      {{#with profile}}
        {{#if negB1orB2 isBanned isAdmin}}
          <h2 class='general__header'>{{name}}</h2>
          <div class='profile'>
            {{#if ownProfile}}
            <div>
              <a href='/profile'>
                <button type='button' class='btn btn-default btn-md party-header__button'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span>Edit</button>
              </a>
            </div>
            {{/if}}
            <div class='profile__left'>
              {{#if thumbnail}}
                <img class='profile__pic' src='{{thumbnail}}'>
              {{else}}
                {{#if photo.url}}
                  <img class='profile__pic' src='{{photo.url}}'>
                {{/if}}
              {{/if}}
              {{#if social}}
                <div class='profile__social-icons'>
                  {{#if website}}<a href='{{website}}'><img class='profile__social-icon' src='/img/website.png'></a>{{/if}}
                  {{#if soundcloud}}<a href='http://soundcloud.com/{{soundcloud}}'><img class='profile__social-icon' src='/img/soundcloud.png'></a>{{/if}}
                  {{#if instagram}}<a href='http://instagram.com/{{instagram}}'><img class='profile__social-icon' src='/img/instagram.png'></a>{{/if}}
                  {{#if facebook}}<a href='http://facebook.com/{{facebook}}'><img class='profile__social-icon' src='/img/facebook.png'></a>{{/if}}
                  {{#if twitter}}<a href='http://twitter.com/{{twitter}}'><img class='profile__social-icon' src='/img/twitter.png'></a>{{/if}}
                  {{#if snapchat}}<a href='https://www.snapchat.com/add/{{snapchat}}'><img class='profile__social-icon' src='/img/snapchat.png'></a>{{/if}}
                </div>
              {{/if}}
              {{#if show}}
                <div class='profile__show-link'>
                  <a class='color-button white-button profile__show-button' href='/shows/{{show.slug}}'>View Show Page</a>
                </div>
              {{/if}}
            </div>
            <div class='profile__info'>
              <div class='profile__bio'>
                {{#if bio}}{{{bio}}}{{else}}<i>({{name}} hasn't filled out a bio yet.)</i>{{/if}}
              </div>
              {{#if Template.subscriptionsReady}} {{#if posts}}
                <div class='profile__posts'>
                  <h4>Posts</h4>
                  {{#each posts}}
                    <p class='profile__posts'><a href='/radioblog/{{slug}}'>{{title}}</a></p>
                  {{/each}}
                </div>
              {{/if}} {{/if}}
              {{#if negB1andB2 ownProfile isAdmin}} {{#unless isBanned}}
                <input id='profile__ban-user' type="button" value="Ban User">
              {{else}}
                <input id='profile__unban-user' type="button" value="Lift User Ban">
              {{/unless}} {{/if}}
            </div>
          </div>
        {{else}}
          <p>This user does not have a profile.</p>
        {{/if}}
      {{/with}}
    {{else}}
      {{> notFound}}
    {{/if}}
  {{/if}}
</template>
