<template name='profileEdit'>
  <div class='profileEdit'>
  {{#if currentUser}}
<!--     {{#autoForm id="profileEdit" collection="Meteor.users" doc=currentUser type="update"}}
      {{> afQuickField name="profile.name"}}
      {{> afQuickField name="profile.photo"}}
      {{> afQuickField name="profile.bio" rows="6"}}
      {{> afQuickField name="profile.website"}}
      {{> afQuickField name="profile.soundcloud"}}
      {{> afQuickField name="profile.instagram"}}
      {{> afQuickField name="profile.facebook"}}
      {{#unless autoSaveMode}}
      <div class="form-group">
        <button type="submit" class="btn btn-primary" disabled="{{disableButtons}}">Submit</button>
      </div>
      {{/unless}}
    {{/autoForm}} -->
    {{> quickForm id="profileEdit" collection="Meteor.users" doc=currentUser type="update"}}
  {{else}}
    Please login (or signup) to edit your profile.
  {{/if}}
  </div>
</template>