<template name='newsItem'>
  {{#with post}}
  <h1 class='general__header'>{{title}}</h1>
  <div class='show__link'>
    <a href='/radioblog' class='back-to'>← Back to Radioblog</a>
  </div>
  <div class='news-item'>
    {{#if author}}<p class='news-item__author'>Posted by <a href="/profile/{{author}}">{{displayName}}</a></p>{{/if}}
    <p>{{submitted}}</p>
    {{#if photo}}<img class='news-item__photo' src='{{photo.url}}'>{{/if}}
    <div class='news-item__body'>{{{body}}}</div>
  </div>
  {{/with}}
  {{#if comments}}
    <div class='comments'>
      <h3 class='comments__header'>Comments</h3>
      <ul class='comments__list'>
        {{#each comments}}
          {{> commentItem}}
        {{/each}}
      </ul>
      {{#if currentUser}}
        {{> commentSubmit}}
      {{else}}
        <p class='comments__text'><i>Please log in to leave a comment.</i></p>
      {{/if}}
    </div>
  {{/if}}
</template>
