<template name='newsList'>
<h2 class='general__header'>KTUH Radioblog</h2>
<div class='news-list__wrapper'>
  <div class='news-list__content'>
    <div class='news-list'>
      {{#with featuredPost}}
        <div class='news-list__featured'>
          <div>
            <span class='purple-tag'>Featured</span>
            <img class='news-list__featured-img' src='{{photo.url}}'>
          </div>
          <div class='news-list__featured-item'>
            <p class='news-list__featured-category'>{{category}}</p>
            <a href='/radioblog/{{slug}}'><h2 class='news-list__featured-title'>{{title}}</h2></a>
            <p>{{excerpt body}}...&nbsp;&nbsp;</p>
            <p><span class='purple-text'>by <a href='/profile/{{userId}}'>{{author}}</a></span> / {{getTime submitted}}</p>
          </div>
        </div>
      {{/with}}
      {{#each posts}}
        <div class='news-list__post'>
          {{#if photo}}<a class="news-list__photo-link" href={{newsPagePath slug}}><img class='news-list__photo' src='{{photo.url}}'></a>{{/if}}
          <div class='news-list__info'>
            <a class='news-list__title' href={{newsPagePath slug}}><h3>{{title}}</h3></a>
            <p class='news-list__excerpt'>{{excerpt body}}...&nbsp;&nbsp;<a href='{{newsPagePath slug}}'>Read More</a></p>
          </div>
        </div>
      {{/each}}
    </div>
    <div class='news-list__paginator'>
      {{> defaultBootstrapPaginator pagination=templatePagination limit=10 containerClass="text-center" onClick=clickEvent}}
    </div>
  </div>

  <div class='news-list__sidebar'>
    <div class='news-list__support'>
      <p class="playlist__sidebar-header">SUPPORT COLLEGE RADIO</p>
      <p>
        KTUH is a non-profit radio station,
        broadcasting out of the University of
        Hawai‘i at Mānoa. In addition to funding
        from UHM student fees, KTUH also
        looks to donations from the community.
      </p>
    </div>
    <div class='button__wrapper'>
      <a class="white-button news__schedule-button purple-text"
      href="https://www.uhfoundation.org/give/giving-gift.aspx?school_code=ktuh">
        Donate Today
      </a>
    </div>
    <div class='news-list__latest-reviews'>
      <h4>LATEST REVIEWS</h4>
      {{#each reviews}}
        <div class='news-list__latest-review'>
          <img src='{{image.url}}' />
          <p><b>{{artist}}</b></p>
          <p>{{releaseName}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</div>
</template>
