<template name='postsCreate'>
  {{#Layout template=materializeHeader}}
    {{collection.title}}
  {{/Layout}}
  {{#Layout template=materializeContent}}
    {{#autoForm collection=collection id="createPostForm" type="insert"}}
      {{> afFieldInput name="userId"}}
      {{> afFieldInput name="author"}}
      {{> afFieldInput name="submitted"}}
      {{> afFieldInput name="slug"}}
      {{> afQuickField name="title"}}
      {{> afQuickField name="category"}}
      {{> afQuickField name="tags"}}
      {{> afQuickField name="summary"}}
      {{> afFieldInput name="body"}}
      <div class="row">
        <div class="image-attribute col m6 col-sm-6">
          <p>
            <span class="btn btn-default btn-file btn-xs input-field">
              Choose image <input type="file" id="photo-input" accept="image/*">
            </span>
          </p>
        </div>
        <div class="image-attribute col m6 col-sm-6" name="photo.url"
          style='visibility: hidden;' data-schema-key="photo.url">
          <p>
            <span class="btn btn-default btn-file btn-xs input-field">
              <input type="url" id="photo-url-input">
            </span>
          </p>
        </div>
      </div>

    {{/autoForm}}
  {{/Layout}}
  {{# Layout template=materializeButtons }}
    <a class="waves-effect waves-light btn cancel-btn" href="#">{{ i18n 'global.back'}}</a>
    <a class="waves-effect waves-light btn light-blue accent-4 submit-btn" href="#">{{ i18n 'global.create' }}</a>
  {{/ Layout }}
</template>
