<template name='contact'>
  <h2 class='general__header'>Contact Us</h2>
  <div class='contact__content'>
    <p>
    Got a question or comment? Drop us a line and let us know what you think of our programming!
    You can reach the on-air DJ at (808) 956-7261.
    </p>

    <p>
    Have an event to include in our on-air calendars? Fill out our KTUH Production Request form!
    For questions, email Productions.
    </p>

    <p>For general inquiries and concerns, contact the KTUH office at (808) 956-5288.</p>

    <p>For underwriting or sponsorship requests, please email Underwriting.</p>

    <p>Music inquiries can be sent to the Music Director.</p>

    <p>Other concerns may be directed to the General Manager at 956-7431.</p>

    <p>
    Questions, ideas, or submissions for the website? Problems with the stream
    server or other tech issues? Please contact Web.
    </p>

    <h4>Mailing Adress</h4>
    <p>
    Our mailing address is KTUH, 2445 Campus Rd. Hemenway Hall #203,
    Honolulu, HI 96822.
    </p>

    <h4>Comment Form</h4>
    {{#if currentUser}}
    <p>Send us your comments, suggestions, observations, and rants!</p>
    <form class='contact__comment-form'>
      <textarea></textarea>
      <br>
      <br>
      <input type='submit' value='Send' />
      <br>
      <br>
    </form>
    {{else}}
    <p>You must be logged in to submit a comment.</p>
    {{/if}}
  </div>
</template>
