<template name='timeline'>
  <h2 class='general__header'>KTUH Timeline</h2>
  <div class='timeline'>
    <div class='timeline__content'>
      <div class='timeline__node'>
        <div class='timeline__node-title'>
          1968
        </div>
        <div class='timeline__node-body'>
          Plans are developed for 10 watt noncommercial educational FM station.
        </div>
      </div>
      <div class='timeline__node'>
        <div class='timeline__node-title'>
          1969
        </div>
        <div class='timeline__node-body'>
          July 7: KTUH begins broadcasting on FM for the first time, at
          90.5 mHz. Broadcasts run from 6:30 p.m. to 2:30 a.m. Sunday through
          Thursday and from 6:30 p.m. to 3:30 a.m. Fridays. Located in Hawaiʻi
          Hall, room 206, the station is under the direction of the
          Speech-Communication Department. General Manager: Fred Barbaria.
        </div>
      </div>
      <div class='timeline__node'>
        <div class='timeline__node-title'>
          October 1971
        </div>
        <div class='timeline__node-body'>
          KTUH presents the first “quadrophonic sound” radio program in
          Hawaiʻi. If electronically equipped, listeners will receive four
          separate signals through four different speakers.
        </div>
      </div>
    </div>
  </div>
</template>
