<template name='showPage'>
  <div class='show__link'>
    <a href='/show'>← all shows</a>
    {{#if ownShow}}
      <a href='/show/edit/{{slug}}'><button type="button" class="btn btn-default btn-md show__header-button">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button></a>
    {{/if}}
  </div>
  {{#if Template.subscriptionsReady}}
    {{#with show}}
      <div class='show__image-div'>
        <img class='show__image' src='{{featuredImage.url}}'>
      </div>
      <div class='show__info'>
        <h3 class='show__name'><b>{{showName}}</b></h3>
        <h4 class=''>Hosted by {{host}}</h4>
        <h5>{{startDay}}s from {{startHour}}:{{#if lessThanTen startMinute}}0{{/if}}{{startMinute}} to {{endHour}}:{{#if lessThanTen endMinute}}0{{/if}}{{endMinute}}</h5>
        <p class='show__tag'>{{#each tag in tags}}#{{tag}}&nbsp;{{/each}}</p>
        <p>{{body}}</p>
      </div>
    {{/with}}
    {{#if playlists}}
      <div class='shows__playlists'>
      <h3>Playlists</h3>
      {{#each playlists}}
        <span class='shows__playlist-time'><a href='/playlist/{{spinPlaylistId}}'>{{time showDate}}</a></span>
      {{/each}}
      </div>
    {{/if}}
  <div class='comments'>
    <h3 class='comments__header'>Comments</h3>
    <ul class='comments__list'>
      {{#each comments}}
        {{> commentItem}}
      {{/each}}
    </ul>
    {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p class='comments__text'>Please log in to leave a comment.</p>
    {{/if}}
  </div>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>