<template name='showPage'>
  {{#if Template.subscriptionsReady}}
    {{#with show}}
    <h1 class='general__header'><b>{{showName}}</b></h1>
    <div class='show__link'>
      <a href='/shows' class='back-to'>← Back to Show Schedule</a>
    </div>
    <div class="show__wrapper">
      <div class="show__content">
        {{#if featuredImage}}
          <div class='show__image-div'>
          <img class='show__image' src='{{featuredImage.url}}'>
          {{#if latestEpisodeUrl}}
          <p class='show__tag'>
            <button type="button" data-path='{{latestEpisodeUrl}}' class="btn btn-default show__play-btn" aria-label="Left Align">
              <span class="glyphicon {{#if isPlaying latestEpisodeUrl}}glyphicon-pause{{else}}glyphicon-play{{/if}}" aria-hidden="true"></span> &nbsp;Play latest episode
            </button>
          </p>
          {{/if}}
          {{#if playlists}}
          <div class='show__playlists'>
          <h4>Playlists</h4>
          <ul>
            {{#each playlists}}
            <li><span class='show__playlist-time'><a href='/playlists/{{spinPlaylistId}}'>{{time showDate}}</a></span></li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
      </div>
    {{/if}}
    <div class='show__info'>
      <h3 class='show__name'><b>{{showName}}</b></h3>
      <h4 class='show__host'>Hosted by <a href="{{profileUrl userId}}">{{host}}</a></h4>
      <h5 class='show__time'>{{day startDay}}s from {{timeBeautify startHour startMinute endHour endMinute}}</h5>
      {{#if genres}}
      <div class='show-item__genres'>
        <span class='glyphicon glyphicon-music'></span>&nbsp;{{genreString genres}}
      </div>
      {{/if}}
      <p>{{body}}</p>
    </div>
  </div>
  </div>
  {{/with}}
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
