<template name='showItem'>
  <div class='show-item'>
    <div class='show-item__image-div'>
      <a href='/shows/{{slug}}'><img class='show-item__image' src='{{featuredImage.url}}'></a>
    </div>
    <div class='show-item__info-container'>
      <div class='show-item__info'>
        <h5 class='show-item__time'>{{formattedTime startHour startMinute}}-{{formattedTime endHour endMinute}}</h5>
        <h4><a href='/shows/{{slug}}'>{{showName}}</a></h4>
        <h5><i>Hosted by <a class='show-item__host' href='{{profileLink userId}}'>{{host}}</a></i></h5>
        {{#if genres}}<div class='show-item__genres'><span class='glyphicon glyphicon-music'></span>&nbsp;{{genreString genres}}</div>{{/if}}
      </div>
    </div>
  </div>
</template>