<template name='showList'>
  <h2 class='general__header'>Show Schedule</h2>
  <div class='shows'>
    <div class='shows__days'>
      <span class='shows__day {{active 'Sunday'}}'><a href='/shows?day=Sunday'>Sunday</a></span><span class='shows__day {{active 'Monday'}}'><a href='/shows?day=Monday'>Monday</a></span><span class='shows__day {{active 'Tuesday'}}'><a href='/shows?day=Tuesday'>Tuesday</a></span><span class='shows__day {{active 'Wednesday'}}'><a href='/shows?day=Wednesday'>Wednesday</a></span><span class='shows__day {{active 'Thursday'}}'><a href='/shows?day=Thursday'>Thursday</a></span><span class='shows__day {{active 'Friday'}}'><a href='/shows?day=Friday'>Friday</a></span><span class='shows__day {{active 'Saturday'}}'><a href='/shows?day=Saturday'>Saturday</a></span>
    </div>
    {{#if Template.subscriptionsReady}}
      {{#each daysShows}}
        {{> showItem}}
      {{/each}}
    {{else}}
      {{> spinner}}
    {{/if}}
  </div>
</template>
