<template name='chartsUpdate'>
  {{#Layout template=materializeHeader}}
    {{collection.title}}
  {{/Layout}}
  {{#Layout template=materializeContent}}
    {{#if Template.subscriptionsReady}}
      {{#autoForm collection=collection doc=item id="updateChartForm" type="update"}}
        {{> afQuickField name="title"}}
        {{> afQuickField name="chartDate"}}
        {{> afFieldInput name="body"}}
        <button id="uploadCsv">
          {{#unless csvUploaded}}
            Upload Chart CSV File
          {{else}}
            Chart CSV Uploaded, Click to Reupload
          {{/unless}}
        </button>
        <input id="hiddenUpload" class="btn hidden" type="file" value="">
      {{/autoForm}}
    {{/if}}
  {{/Layout}}
  {{#Layout template=materializeButtons }}
      <a href="{{ collection.indexPath }}" class="waves-effect waves-light btn {{ orion_autoformLoading }}">{{ i18n 'global.cancel' }}</a>
      {{# if item.canShowRemove }}
        <a class="waves-effect waves-light btn red {{ orion_autoformLoading }}" href="{{ collection.deletePath item._id }}">{{ i18n 'global.delete' }}</a>
      {{/ if }}
      <a class="waves-effect waves-light btn light-blue accent-4 save-btn {{ orion_autoformLoading }}" href="#">{{ i18n 'global.save' }}</a>
  {{/Layout }}
</template>
