<template name="chartPage">
  {{#if Template.subscriptionsReady}}
    {{#if chart}}
      {{#with chart}}
      <h1 class='general__header'>{{title}} - {{dateFmt chartDate}}</h1>
      <div class='chart__link'>
        <a href='/charts' class='back-to'>← Back to Charts</a>
      </div>
      <div class='playlist-list__latest'>
      <img class='playlist__show-image' src='{{featuredImage}}'>
      {{{body}}}
      {{#if tracks.length}}
        <table class="playlist">
          <tr class="playlist__info-row">
            <td><b>#</b></td>
            <td><b>Artist</b></td>
            <td><b>Release</b></td>
            <td><b>Label</b></td>
          </tr>
          {{#each tracks}}
          <tr>
            <td class='playlist__title'>{{plusOne @index}}</td>
            <td class='playlist__title'>{{artist}}</td>
            <td class='playlist__title'>{{ifHas release}}</td>
            <td class='playlist__title'>{{label}}</td>
          </tr>
          {{/each}}
        </table>
      {{/if}}
    </div>
    {{/with}}
  {{else}}
    {{> notFound}}
  {{/if}}
  {{/if}}
</template>
