<template name="chartList">
  {{#if Template.subscriptionsReady}}
    <h2 class='general__header'>Charts</h2>
    <div class='playlist-list__latest'>
      {{#each latestCharts}}
        <h3 class='playlist__show-name'><a href='/charts/{{slug}}'>{{title}} - {{dateFmt chartDate}}</a></h3>
        <div>{{{body}}}</div>
        {{#if tracks.length}}
          <table class="playlist">
            <tr class="playlist__info-row">
              <td><b>#</b></td>
              <td><b>Artist</b></td>
              <td><b>Release</b></td>
              <td><b>Label</b></td>
            </tr>
            {{#each tracks}}
            <tr>
              <td class='playlist__title'>{{plusOne @index}}</td>
              <td class='playlist__title'>{{artist}}</td>
              <td class='playlist__title'>{{ifHas release}}</td>
              <td class='playlist__title'>{{label}}</td>
            </tr>
            {{/each}}
          </table>
        {{/if}}
      {{/each}}
    </div>
    <div class='playlist__sidebar'>
      <h6>More Charts</h6>
      <table class="playlist-list__table" border="1">
        {{#each otherCharts}}
          <a href="/charts/{{slug}}/">
            <p class='home__title'>{{title}} - {{dateFmt chartDate}}</p>
          </a>
        {{/each}}
      </table>
    </div>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
