<template name="chartList">
  {{#if Template.subscriptionsReady}}
    <h2 class='general__header'>Latest Chart</h2>
    <div class='content'>
      <div class='playlist-list__latest'>
        {{#with latestChart}}
          <h3 class='playlist__show-name'><a href='/charts/{{slug}}'>{{title}}</a></h3>
          {{{body}}}
          <table class="playlist">
            <tr class="playlist__info-row">
              <td><b>#</b></td>
              <td><b>Artist</b></td>
              <td><b>Song</b></td>
              <td><b>Release</b></td>
              <td><b>Label</b></td>
            </tr>
            {{#each tracks}}
            <tr>
              <td class='playlist__title'>{{plusOne @index}}</td>
              <td class='playlist__title'>{{artist}}</td>
              <td class='playlist__title'>{{song}}</td>
              <td class='playlist__title'>{{ifHas release}}</td>
              <td class='playlist__title'>{{label}}</td>
            </tr>
            {{/each}}
          </table>
        {{/with}}
      </div>
      <div class='playlist-list__list'>
        <h6>More Charts</h6>
        <table class="playlist-list__table" border="1">
          {{#each otherCharts}}
            <a href="/charts/{{slug}}/">
              <img src="{{featuredImage}}" />
              <p class='home__title'>{{title}}</p>
            </a>
          {{/each}}
        </table>
      </div>
    </div>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
