<template name='reviewsUpdate'>
  {{#Layout template=materializeHeader}}
    {{collection.title}}
  {{/Layout}}
  {{#Layout template=materializeContent}}
    {{#if Template.subscriptionsReady}}
      {{#autoForm collection=collection id="updateReviewForm" type="update"}}
        {{> afQuickField name="artist"}}
        {{> afQuickField name="releaseName"}}
        {{> afQuickField name="year"}}
        {{> afQuickField name="label"}}
        {{> afQuickField name="rating"}}
        {{> afQuickField name="body"}}
        {{#if isMod}}
          {{> afQuickField name="approved"}}
        {{/if}}
      {{/autoForm}}
    {{/if}}
  {{/Layout}}
</template>
