<template name='reviewPage'>
  {{#if Template.subscriptionsReady}}
    {{#with review}}
      <h4 class="staff__header"><b>{{releaseName}}</b>
      <br>{{artist}}</h4>
      <div class="staff__content">
        <img class='review-page__image' src='{{image.url}}'>
        <div class='review-page__copy'>
          <h4 class='review-page__rating'>{{formattedRating rating}} / 5.0</h4>
          <div class='review-page__byline'>Review by <a href="/profile/{{author}}">{{author}}</a> • {{submitted}}</div>
          <div class='review-page__body'>{{body}}</div>
        </div>
      </div>
    {{/with}}
  {{/if}}
</template>
