<template name='podcastPage'>
  <div class='page'>
    {{#if Template.subscriptionsReady}}
      {{#with podcast}}
      <div class='podcast-page'>
        <div class='podcast-page__cover-div'>
          <img class='podcast-page__cover-img' src='{{coverImage}}'>
        </div>
        <div class='podcast-page__info'>
          <span class='podcast-page__title'><b>{{title}}</b></span><br>
          <span class='podcast-page__host'>mixed by <b>{{host}}</b></span><br>
          <img class='podcast-page__play-btn' data-path='{{mp3}}' src={{#if isPlaying mp3}}/img/pause.png{{else}}/img/play.png{{/if}}>
          <div class='podcast-page__playlist'>
            {{{textPlaylist}}}
            <ol>
            {{#with playlist}}
              {{#each tracks}}
                <li class='podcast-page__track'>
                <b>{{artist}}</b>: '{{title}}'{{#if featuring}} [feat. {{featuring}}]{{/if}}{{#if remix}} ({{remix}}){{/if}}{{#if label}} <small>({{label}})</small>{{/if}}</li>
              {{/each}}
            {{/with}}
            </ol>
          </div>
          {{#each tags}}
            <span class=' podcast__tag'>#{{this}}&nbsp;&nbsp;</span>
          {{/each}}
        </div>
        {{#if comments}}
        <div class='comments'>
          <h3 class='comments__header'>Comments</h3>
          <ul class='comments__list'>
            {{#each comments}}
              {{> commentItem}}
            {{/each}}
          </ul>
          {{#if currentUser}}
            {{> commentSubmit}}
          {{else}}
            <p class='comments__text'>Please log in to leave a comment.</p>
          {{/if}}
        </div>
        {{/if}}
      </div>
      {{/with}}
    {{else}}
      {{>spinner}}
    {{/if}}
  </div>
</template>
