<template name='resend'>
  <h2 class='general__header'>Resend Verification Email</h2>
  <div class='resend__content'>
  {{#unless verified}}
  <p>
      Lost your verification email? Type in your email address to send the
      verification email again. Be sure to check your spam folders and inbox.
  </p>
  <div class="at-pwd-form">
    <form role="form" id="at-pwd-form" novalidate="" action="#" method="POST">
        <label for="at-field-email">
          Email
        </label>
        <input class="validate" type="email" id="at-field-email" name="at-field-email" autocapitalize="none" autocorrect="off">
        <button type="submit" class="at-btn submit waves-effect waves-light btn" id="at-btn">
          Send email again
        </button>
    </form>
  </div>
  {{else}}
    <p>
      Your email has been verified. You're good to go!
    </p>
  {{/unless}}
  </div>
</template>
