<template name='playlistSidebar'>
  <div class='playlist__sidebar corner'>
    <h4 class='playlist__sidebar-header'>Browse Latest</h4>
    {{#each getSidebarData}}
      <hr />
      <h4 class='playlist__sidebar-date'>{{dateFormat date}}</h4>
      {{#each shows}}
        {{#if (showNameFromId showId)}}
        <div>
          <p class='playlist__sidebar-link'>
            <a href="/playlists/{{spinPlaylistId}}">
            {{#unless showIsSub showId}}
              {{timeFromHours (showTimeFromId showId) (showEndFromId showId)}}
              {{showNameFromId showId}}
            {{else}}
              {{timeFromHMS startTime endTime}}
              {{showNameFromId showId}}
            {{/unless}}
            </a>
          </p>
        </div>
        {{else}}
          <div>
            <p class='playlist__sidebar-link'><a href="/playlists/{{spinPlaylistId}}">{{startTime}}-{{endTime}} Sub Show</a></p>
          </div>
        {{/if}}
      {{/each}}
    {{/each}}
  </div>
</template>
