<template name="playlistPage">
  {{#if Template.subscriptionsReady}}
  <h4 class='playlist__header'><a href="/shows/{{showSlug}}">{{showName}}</a> playlist - {{showDate}}</h4>
  <div class='playlist__content'>
    {{#if showImage}}<a href="/shows/{{showSlug}}"><img class='playlist__show-image' src='{{showImage}}'></a>{{/if}}
    <table class="playlist">
      <tr class="playlist__info-row">
        <td><b>Time</b></td>
        <td><b>Artist</b></td>
        <td><b>Song</b></td>
      </tr>
      {{#each songs}}
      <tr>
        <td class='playlist__timestamp'>{{timeBeautify Timestamp}}</td>
        <td class='playlist__artist'>{{ArtistName}}</td>
        <td class='playlist__title'>{{SongName}}</td>
      </tr>
      {{/each}}
    </table>
    <div class='comments'>
      <h3 class='comments__header'>Comments</h3>
      <ul class='comments__list'>
        {{#each comments}}
          {{> commentItem}}
        {{/each}}
      </ul>
        {{#if currentUser}}
          {{> commentSubmit}}
        {{else}}
        <p class='comments__text'>Please log in to leave a comment.</p>
      {{/if}}
    </div>
  </div>
  {{/if}}
</template>
