<template name="playlistPage">
  {{#if Template.subscriptionsReady}}
    {{#if showImage}}<img class='playlist__show-image' src='{{showImage}}'>{{/if}}
    <h3>Playlist for <a href="/shows/{{showSlug}}">{{showName}}</a> on {{showDate}}</h3>
    <table class="playlist">
      <tr class="playlist__info-row">
        <td><b>Time Played</b></td>
        <td><b>Artist</b></td>
        <td><b>Song</b></td>
      </tr>
      {{#each songs}}
      <tr>
        <td class='playlist__timestamp'>{{Timestamp}}</td>
        <td class='playlist__artist'>{{ArtistName}}</td>
        <td class='playlist__title'>{{SongName}}</td>
      </tr>
      {{/each}}
    </table>
    <div class='comments'>
      <h3 class='comments__header'>Comments</h3>
      <ul class='comments__list'>
        {{#each comments}}
          {{> commentItem}}
        {{/each}}
      </ul>
        {{#if currentUser}}
          {{> commentSubmit}}
        {{else}}
        <p class='comments__text'>Please log in to leave a comment.</p>
      {{/if}}
    </div>
  {{/if}}
</template>
