<template name='playlistList'>
  <h2 class='general__header'>Playlists</h2>
  <div class='playlist-list__latest'>
    {{#if Template.subscriptionsReady}}
      {{#if latestShowImage}}<a href='/shows/{{latestShowSlug}}'><img class='playlist__show-image' src='{{latestShowImage}}'></a>{{/if}}
      <h5 class='playlist-list__current'>CURRENT PLAYLIST</h5>
      <h3 class='playlist-list__show-name'><a href='/shows/{{latestShowSlug}}'>{{latestShowName}}</a></h3>
      <p>{{synopsis}}</p>
      <h5 class='playlist-list__show-host'>{{latestShowDay}}s at {{latestShowStartTime}} • Hosted by <a href='{{latestShowLink}}'>{{latestShowHost}}</a></h5>
      <table class='playlist'>
        <tr class='playlist__info-row'>
          <td><span class='glyphicon glyphicon-time'></span></td>
          <td><b>Artist</b></td>
          <td><b>Song</b></td>
        </tr>
        {{#each latestSongs}}
        <tr>
          <td class='playlist__timestamp'>{{truncated Timestamp}}</td>
          <td class='playlist__artist'>{{ArtistName}}</td>
          <td class='playlist__title'>{{SongName}}</td>
        </tr>
        {{/each}}
      </table>
    {{/if}}
  </div>
  {{> playlistSidebar}}
</template>
