<template name='playlistSidebar'>
  <div class='playlist__sidebar corner'>
    <h4 class='playlist__sidebar-header'>Browse Latest</h4>
    {{#each getSidebarData}}
      <hr />
      <h4 class='playlist__sidebar-date'>{{dateFormat date}}</h4>
      {{#each shows}}
      <div>
        <p class='playlist__sidebar-link'>
          <a href='/playlists/{{spinPlaylistId}}'>
          {{#unless showIsSub showId}}
            {{timeFromHours startHour endHour}}
            {{showName}}
          {{else}}
            {{timeFromHMS startTime endTime}}
            Sub Show
          {{/unless}}
          </a>
        </p>
      </div>
      {{/each}}
    {{/each}}
  </div>
</template>
